<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="TenantFinder.HouseService" behaviorConfiguration="behave">
				<endpoint
					address="http://localhost:8001/TenantFinder"
					binding="basicHttpBinding"
					contract="TenantFinder.IHouseService"/>
				<endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
			</service>

		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="behave">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>